<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="false" pattern="/api/**" create-session="stateless" use-expressions="true" entry-point-ref="CustomAuthenticationEntryPoint">
        <custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
        <intercept-url pattern="/api/**" access="isAuthenticated()"/>
    </http>

    <beans:bean id="CustomAuthenticationEntryPoint"
          class="org.vizuina.CustomAuthenticationEntryPoint" />

    <authentication-manager id="authenticationManager">
        <authentication-provider ref="kontikiTokenAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean class="org.vizuina.AuthenticationTokenProcessingFilter"
          id="authenticationTokenProcessingFilter">
        <beans:constructor-arg type="java.lang.String">
            <beans:value>/api/**</beans:value>
           </beans:constructor-arg>
    </beans:bean>

</beans:beans>